.Candy {
flex-direction:row;
display: flex; 
justify-content: center;
padding: 10px;
margin: 10px;

}
.CandyOne {
position: absolute;
float: left;

}
.CandyTwo {
position: absolute;
float: right;
}

.SkipButton {
  text-align: center
}
