.Candy {
flex-direction:row;
display: flex; 
justify-content: center;

}
.CandyOne {
position: absolute;
left: 0;
width: 300px;
padding: 10px;
}
.CandyTwo {
position: absolute;
right: 0px;
width: 300px;
padding: 10px;
}

.SkipButton {
  text-align: center
}
